<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.title }}</title>
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ seo.keywords }}">
    <meta property="og:url" content="{{ seo.ogurl }}">
    <link rel="canonical" href="{{ seo.ogurl }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/answerbox.css') }}?v=1.5">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subjectlayout.css') }}?v=1.5">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="icon" href="{{ url_for('get_image', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Dynamic Schema -->
    {% if schema %}
    <script type="application/ld+json">
        {{ schema | tojson | safe }}
    </script>
    {% endif %}
</head>
<body>
    <header>
        <h3>
            <a href="/dsal" class="a">Data Structures and Algorithms Laboratory (DSAL) Codes</a>
        </h3>
        <button onclick="location.href='/'" class="home-btn" aria-label="Go to home page">Home</button>
    </header>
    <div class="info-box">
        <p>
            If the code doesn't load, you can check it out on 
            <a href="https://github.com/AlbatrossC/codes/tree/main/answers/dsal" target="_blank" rel="noopener noreferrer">GitHub</a>
        </p>
    </div>

    <!-- Group A -->
    <div class="group">
        <h3>Group A</h3>

        <!-- Question 1 -->
        <article class="question-item" id="telephone-book">
            <h1>
                <a href="/dsal/telephone-book" class="question-link">
                    <strong>Q1: </strong>Consider telephone book database of N clients. Make use of a hash table implementation to quickly look up client’s telephone number. Make use of two collision handling techniques and compare them using number of comparisons required to find a set of telephone numbers.
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '1_telephonebook.py', 'Telephone Book Hash Table', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '1_telephonebook.py')">Download Code</button>
            <div class="answer-box" id="answerBox1">
                <h3 id="questionText1"></h3>
                <pre id="codeContent1"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent1')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent1')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox1')">Close</button>
                </div>
            </div>
        </article>

        <!-- Question 4 -->
        <article class="question-item" id="set-adt">
            <h1>
                <a href="/dsal/set-adt" class="question-link">
                    <strong>Q4: </strong>To create ADT that implements the 'set' concept.
                    <br>a. Add (new Element) - Place a value into the set
                    <br>b. Remove (element) - Remove the value
                    <br>c. Contains (element) - Return true if element is in collection
                    <br>d. Size() - Return number of values in collection
                    <br>e. Iterator() - Return an iterator used to loop over collection
                    <br>f. Intersection of two sets
                    <br>g. Union of two sets
                    <br>h. Difference between two sets
                    <br>i. Subset
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '4_set_adt.py', 'Set ADT', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '4_set_adt.py')">Download Code</button>
            <div class="answer-box" id="answerBox4">
                <h3 id="questionText4"></h3>
                <pre id="codeContent4"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent4')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent4')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox4')">Close</button>
                </div>
            </div>
        </article>
    </div>

    <!-- Group B -->
    <div class="group">
        <h3>Group B</h3>

        <!-- Question 5 -->
        <article class="question-item" id="book-tree">
            <h1>
                <a href="/dsal/book-tree" class="question-link">
                    <strong>Q5: </strong>A book consists of chapters, chapters consist of sections, and sections consist of subsections. Construct a tree and print the nodes. Find the time and space requirements of your method.
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '5_book_tree.cpp', 'Book Tree', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '5_book_tree.cpp')">Download Code</button>
            <div class="answer-box" id="answerBox5">
                <h3 id="questionText5"></h3>
                <pre id="codeContent5"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent5')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent5')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox5')">Close</button>
                </div>
            </div>
        </article>

        <!-- Question 6 -->
        <article class="question-item" id="binary-search-tree">
            <h1>
                <a href="/dsal/binary-search-tree" class="question-link">
                    <strong>Q6: </strong>Beginning with an empty binary search tree, construct a binary search tree by inserting the values in the order given. After constructing the binary tree:
                    <br>i. Insert a new node
                    <br>ii. Find the number of nodes in the longest path from root
                    <br>iii. Find the minimum data value in the tree
                    <br>iv. Change the tree so that the roles of the left and right pointers are swapped at every node
                    <br>v. Search for a value
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '6_binary_search_tree.cpp', 'Binary Search Tree', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '6_binary_search_tree.cpp')">Download Code</button>
            <div class="answer-box" id="answerBox6">
                <h3 id="questionText6"></h3>
                <pre id="codeContent6"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent6')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent6')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox6')">Close</button>
                </div>
            </div>
        </article>

        <!-- Question 9 -->
        <article class="question-item" id="threaded-binary-tree">
            <h1>
                <a href="/dsal/threaded-binary-tree" class="question-link">
                    <strong>Q9: </strong>Convert given binary tree into threaded binary tree. Analyze time and space complexity of the algorithm.
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '9_threaded_binary_tree.cpp', 'Threaded Binary Tree', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '9_threaded_binary_tree.cpp')">Download Code</button>
            <div class="answer-box" id="answerBox9">
                <h3 id="questionText9"></h3>
                <pre id="codeContent9"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent9')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent9')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox9')">Close</button>
                </div>
            </div>
        </article>
    </div>

    <!-- Group C -->
    <div class="group">
        <h3>Group C</h3>

        <!-- Question 13 -->
        <article class="question-item" id="graph-dfs-bfs">
            <h1>
                <a href="/dsal/graph-dfs-bfs" class="question-link">
                    <strong>Q13: </strong>Represent a given graph using adjacency matrix/list to perform DFS and using adjacency list to perform BFS. Use the map of the area around the college as the graph. Identify the prominent landmarks as nodes and perform DFS and BFS on that.
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '13_graph_dfs_bfs.cpp', 'Graph DFS and BFS', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '13_graph_dfs_bfs.cpp')">Download Code</button>
            <div class="answer-box" id="answerBox13">
                <h3 id="questionText13"></h3>
                <pre id="codeContent13"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent13')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent13')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox13')">Close</button>
                </div>
            </div>
        </article>

        <!-- Question 14 -->
        <article class="question-item" id="flight-graph">
            <h1>
                <a href="/dsal/flight-graph" class="question-link">
                    <strong>Q14: </strong>There are flight paths between cities. If there is a flight between city A and city B then there is an edge between the cities. The cost of the edge can be the time that flight takes to reach city B from A, or the amount of fuel used for the journey. Represent this as a graph. The node can be represented by the airport name or name of the city. Use adjacency list representation of the graph or use adjacency matrix representation of the graph. Check whether the graph is connected or not. Justify the storage representation used.
                </a>
            </h1>
            <button class="view-code-btn" onclick="loadFile('dsal', '14_flight_graph.cpp', 'Flight Graph', this)">View Code</button>
            <button class="download-code-btn" onclick="downloadCode('dsal', '14_flight_graph.cpp')">Download Code</button>
            <div class="answer-box" id="answerBox14">
                <h3 id="questionText14"></h3>
                <pre id="codeContent14"></pre>
                <div class="copy-close-container">
                    <button class="explain-btn" onclick="explainCode('codeContent14')">
                      <img src="{{ url_for('static', filename='svg/gemini.svg') }}" alt="Gemini Logo" class="gemini-logo">
                      Explain with AI
                    </button>
                    <button class="copy-btn" onclick="copyCode('codeContent14')">Copy Code</button>
                    <button class="close-btn" onclick="closeBox('answerBox14')">Close</button>
                </div>
            </div>
        </article>
    </div>
</body>
</html>